.implementations {
    background-color: #121212;
    width: 100%;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 0;
    p {
        margin: 2rem;
    }
    .projects__card-wrapper {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
        height: 300vh;
    }

    .button {
        display: block;
        margin-top: 6rem;
        margin: 0 auto;
    }
}