.footer {
    @include breakpoint-up(large) {
        display: none;
    }
    background-color: black;
    color: $white;
    &__content {
        margin: 0 auto;
        padding: 1.5rem;
        text-align: left;
        display: flex;
        justify-content: space-around;
        max-width: 600px;
    }
    &__social {
        display: flex;
        justify-content: center;
        &__item {
            &:not(:last-child) {
                margin-right: 1rem;
            }
            a {
                display: inline-block;
                &:hover {
                    border: none;
                }
                svg {
                    background-color: transparent;
                    border-radius: 8%;
                    path {
                        fill: white;
                        transition: fill 150ms ease-in-out;
                    }
                }
                &:hover svg path {
                    fill: $limeGreen;
                    border: none;
                }
            }
        }
    }
    &__copyright {
        font-size: calc(0.5vw + 0.8125rem);
    }
}
